---
import Carousel from "@/components/Carousel.astro"
import ReelPlayer from "./ReelPlayer.astro"

const VIDEOS = [
  {
    id: 'dQw4w9WgXcQ',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Reel-Facebook-Image_gehtas.webp',
    title: 'Video 1',
    source: 'https://res.cloudinary.com/dcxt2wrcm/video/upload/v1745801921/Reel_Facebook_as4coi.mp4',
  },
  {
    id: 'dQw4w9WgXc2',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Reel-Facebook-Image_gehtas.webp',
    title: 'Video 2',
    source: 'https://res.cloudinary.com/dcxt2wrcm/video/upload/v1745801921/Reel_Facebook_as4coi.mp4',
  },
  {
    id: 'dQw4w9WgXc3',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Reel-Facebook-Image_gehtas.webp',
    title: 'Video 3',
    source: 'https://res.cloudinary.com/dcxt2wrcm/video/upload/v1745801921/Reel_Facebook_as4coi.mp4',
  },
  {
    id: 'dQw4w9WgXc4',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Reel-Facebook-Image_gehtas.webp',
    title: 'Video 4',
    source: 'https://res.cloudinary.com/dcxt2wrcm/video/upload/v1745801921/Reel_Facebook_as4coi.mp4',
  },
  {
    id: 'dQw4w9WgXc5',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Reel-Facebook-Image_gehtas.webp',
    title: 'Video 5',
    source: 'https://res.cloudinary.com/dcxt2wrcm/video/upload/v1745801921/Reel_Facebook_as4coi.mp4',
  }
]
---

<section id="social" class="w-full max-w-[1400px]
    mx-auto p-16 md:p-20">
    <Carousel items={VIDEOS} title="Reels">
      {
        VIDEOS.map(({ id, image, title, source }) => (
          <ReelPlayer
            videoId={id}
            image={image}
            title={title}
            source={source}
          />
        ))
      }
    </Carousel>
</section>
